* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, "poppins", sana-serif;
}

body {
  background-color: #4285f4;
}

.wrapper {
  width: 370px;
  margin: 130px auto 0;
}

.select-btn {
  height: 65px;
  font-size: 22px;
  display: flex;
  cursor: pointer;
  padding: 0px 20px;
  border-radius: 7px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.select-btn svg {
  width: 22px;
  height: 50px;
  font-size: 31px;
  transition: transform 0.3s linear;
}

.wrapper.active .select-btn svg {
  transform: rotate(-180deg);
}

.content {
  display: none;
  padding: 20px;
  margin-top: 15px;
  border-radius: 7px;
  background: #fff;
}

.wrapper.active .content {
  display: block;
}

.content .search {
  position: relative;
}

.search svg {
  width: 22px;
  height: 50px;
  left: 12px;
  line-height: 53px;
  position: absolute;
}

.search input {
  height: 53px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 15px 0 43px;
  border: 1px solid #b3b3b3;
}

.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options li {
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
  border-radius: 5px;
  line-height: 2.2;
}

.options li:hover,
li.selected {
  background: #f2f2f2;
  cursor: pointer;
}

@media (max-width: 600px) {
  .wrapper {
    margin: 20px auto;
  }

  .select-btn {
    font-size: 18px;
  }

  .search input {
    font-size: 14px;
  }

  .options li {
    font-size: 16px;
  }
}
